<div class="searchWidget">
  <div class="container">
    <form name="searchFrm" id="searchFrm" novalidate="novalidate">

      <div class="row">
        <div class="col-sm-10 col-xs-12">
          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <div>
                <input type="text" class="search-input form-control ui-autocomplete-input" name="source" ng-model="search.source" placeholder="Pickup Locations" value="" autocomplete="off">
              </div>
            </div>
            <div class="col-sm-6 col-xs-12">
              <input type="text" class="search-input form-control ui-autocomplete-input" name="destination" ng-model="search.destination" placeholder="Drop off location" value="" autocomplete="off">
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-xs-12">
          <input type="submit" class="btn btn-primary" name="search" value="Search" ng-click="searchCabs(search)">
        </div>
      </div>
    </form>
  </div>
</div>
