<div id="search-panel" class="panel ">
   <div class="panel-body">
    <div class="searchWidget">
      <div class="container">

        <form name="searchFrm" id="searchFrm"  novalidate>
          <div class="row">
            <div class="col-md-10">
              <div class="alert alert-danger" ng-if="(search.sourceId) && search.sourceId == search.destinationId">
                Source and destination cannot be same.
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5" ng-class="{ 'has-error' : searchFrm.$submitted && searchFrm.sourceId.$error.required  }">
              <select class="search-input form-control" ng-model="search.sourceId"  id="sourceId" name="sourceId"  required >
                <option value="">Please Select Source</option>
                <option ng-repeat="location in locations" ng-value="location.id">{{location.name}}</option>
              </select>
              <p class="help-block" ng-show="searchFrm.$submitted && searchFrm.sourceId.$error.required">Source is required</p>
            </div>
            <div class="col-md-5" ng-class="{ 'has-error' : searchFrm.$submitted && searchFrm.destinationId.$error.required  }">
              <select class="search-input form-control" ng-model="search.destinationId"  id="destinationId" name="destinationId"  required >
                <option value="">Please Select Destination</option>
                <option ng-repeat="location in locations" ng-value="location.id">{{location.name}}</option>
              </select>
              <p class="help-block" ng-show="searchFrm.$submitted && searchFrm.destinationId.$error.required">Destination is required</p>
            </div>
            <div class="col-md-2">
              <button type="submit" class="btn btn-danger" name="search" ng-click="searchCabs(searchFrm,search)">Get Fare</button>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-sm-5 col-xs-12">
                  <div>
                    <select class="search-input form-control" ng-model="search.operatorId" multiple>
                      <option value="" disabled selected>Please Select Cab Operator</option>
                      <option ng-repeat="cabOperator in cabOperators" ng-value="cabOperator.id">{{cabOperator.name}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-5 col-xs-12">
                  <select class="search-input form-control" ng-model="search.typeId" multiple>
                    <option value="" disabled selected>Please Select Cab Type</option>
                    <option ng-repeat="cabType in cabTypes" ng-value="cabType.id">{{cabType.name}}</option>
                  </select>
                </div>
                <div class="col-sm-2 col-xs-12">
                  <button type="button" class="btn btn-default" name="reset" ng-click="reset(searchFrm)">&nbsp;&nbsp;Reset &nbsp;&nbsp;</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<hr>
<!--Results-->
<div id="search-results" class="panel panel-primary" ng-if="triggerSearch">
  <div class="panel-heading">Cab Search Results</div>
  <div class="panel-body">
    <table class="table table-striped" ng-if="cabList.length > 0">
      <thead>
        <tr>
          <th>Operator</th>
          <th>Cab Type</th>
          <th>Fare</th>
          <th>Discount</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="cab in cabList">
          <td>{{cab.operatorName}}</td>
          <td>{{cab.typeName}}</td>
          <td>{{cab.fare | currency}}</td>
          <td>{{cab.discount | currency}}</td>
        </tr>
      </tbody>
    </table>
    <p ng-if="cabList.length == 0">No cabs found</p>
  </div>
</div>

